{% extends 'base_.html' %}

{% block title %} Detail - {{ com.title }} {% endblock %}

{% block content %}
{% include 'tech/ground_report_modal.html' %}
{% include 'tech/ground_price_modal.html' %}
<div class="container my-5">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="title">{{ com.title }}</h5>
            <hr>
            <p class="card-text"><span class="text-bold">{{ com.due_date | date:'l, j F o - h:i A' }}</span></p>
            <p class="card-text">Alamat : {{ com.address }}</p>
            <p class="card-text">Quota left : {{ com.tech_quota }}</p>
            <div class="card-text">
                {{ com.messages | safe }}
                <hr>
                <form action="{% url 'comp:take-this-job' com.ticket_code %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if com.is_open %}
                        <button class="btn btn-outline-primary"> Take This Job</button>
                        {% else %}
                        <button class="btn btn-primary" disabled> Take This Job</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if work %}
    <div class="card mt-4">
        <div class="card-body">
            <h3>Berikan Laporan Lapangan</h3>

            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Buat laporan Lapangan
            </button>
            {% if report %}
            <div class="accordion mt-4" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                Lihat Laporan Lapangan &darr;
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for item in report %}
                            <img src="{{ item.file.url }}" alt="File lapangan" class="img-fluid items-center h-25 w-25">
                            <p class="card-text">{{ item.case | safe }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#priceModal">
                Pasang Harga Lapangan
            </button>
        </div>
    </div>
    {% endif %}

    <!-- Daftar teknisi -->
    {% for item in com.job.all %}
    <h1 class="mt-4">Teknisi yang akan datang</h1>
    <div class="row">
        <div class="col-4 col-lg-3 col-sm-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">{{ item.user }}</h5>
                    <p class="card-text">{{ item.user.user.wa_number }} </p>
                    <p class="card-text">{{ item.user.first_name }} {{ item.user.last_name }} </p>
                    <p class="card-text">{{ item.user.email }} </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}