{% extends 'base_.html' %}

{% block title %} Complaint List {% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        {% for item in items %}
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.messages }}</p>
                <a href="{% url 'comp:job-detail' item.ticket_code %}" class="btn btn-primary">Read Detail</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}