{% extends 'base_.html' %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Calon Teknisi</h1>
<br>

<div id="content-wrapper" class="d-flex flex-column">
    <div class="row mt-5 justify-content-center">
        {% for item in items %}
        <div class="col-10 pt-2 mb-4">
            <div class="card">
                <div class="card-body text-dark">
                    {% if item.user.first_name and item.user.last_name %}
                    <h5 class="card-title">{{ item.user.first_name }} {{ item.user.last_name }}</h5>
                    {% else %}
                    <h5 class="card-title">No Name</h5>
                    {% endif %}
                    <div class="pt-2 mb-2">
                        <p><b>Date:</b>
                            {{ item.sent | date:'l, F js o - h:iA' }}
                        </p>
                    </div>
                    <div class="pt-2 mb-2">
                        {{ item.get_desc }}
                    </div>
                    <hr>
                    <a href="{% url 'comp:applicant-detail' item.code %}" class="btn btn-outline-primary">Read
                        Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation example" class=" justify-content-center mt-3">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for n in page_obj.paginator.page_range %}
            {% if page_obj.number == n %}
            <li class="page-item active"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
            {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!-- end pagenation  -->
    {% endif %}
</div>
{% endblock %}