{% extends 'base_.html' %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Calon Teknisi</h1>
<br>

<div id="content-wrapper" class="d-flex flex-column">
    <div class="row mt-5 justify-content-center">
        {% for item in items %}
        <div class="col-10 pt-2 mb-4">
            <div class="card">
                <div class="card-body text-dark">
                    {% if item.user.first_name and item.user.last_name %}
                    <h5 class="card-title">{{ item.user.first_name }} {{ item.user.last_name }}</h5>
                    {% else %}
                    <h5 class="card-title">No Name</h5>
                    {% endif %}
                    <div class="pt-2 mb-2">
                        <p><b>Date:</b>
                            {{ item.sent |  date:'l, F js o - h:iA' }}
                        </p>
                    </div>
                    <div class="pt-2 mb-2">
                        {{ item.get_desc }}
                    </div>
                    <hr>
                    <a href="{% url 'comp:applicant-detail' item.code %}" class="btn btn-outline-primary">Read Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}