{% extends 'base_.html' %}

{% block title %} Detail - {{ com.title }} {% endblock %}

{% block content %}

{% include 'company/open-job-modal.html' %}
<h1 class="h3 mb-2 text-gray-800">Customer Service</h1>
<p class="mb-4">Accept/Reject Request, <a href="#idTable" style="text-decoration: none;">See
    Below</a>.</p>

<div class="row mt-5 justify-content-center">
    <div class="col-sm-10 pt-2 mb-4">

        <!-- Card 1 -->
        <div class="card">
            <div class="card-body text-dark">
                <h3 class="card-title">{{ com.title }}</h3>

                <div class="pt-2 mb-2">
                    Alamat : {{ com.address }}
                </div>

                <div class="pt-2 mb-2">
                    {{ com.messages | safe }}
                </div>
                <hr>

                <a href="{% url 'comp:accept-ticket' com.ticket_code %}"
                   {% if not com.accepted %}
                   class="btn btn-primary mt-2"
                   {% else %}
                   class="btn btn-primary mt-2 disabled"
                   {% endif %}
                >Accept</a>

                {% if not com.rejected %}
                <a class="btn btn-danger mt-2" href="{% url 'comp:reject-ticket' com.ticket_code %}">Reject</a>
                {% else %}
                <a class="btn btn-danger mt-2" href="{% url 'comp:reject-ticket' com.ticket_code %}">Reject</a>
                {% endif %}

                <form action="{% url 'comp:close-complaint' com.ticket_code %}" method="post"
                      enctype="multipart/form-data" class="mt-3">
                    {% csrf_token %}
                    <button class="btn btn-outline-success mt-2">Close This Complaint</button>
                </form>

            </div>
        </div>
        <!-- End Card -->

        <!-- Card 2 -->
        <div class="card mt-5">
            <div class="card-body text-dark">
                <h3 class="card-title">Pengadu/Compliant
                </h3>

                <div class="pt-2 mb-2">
                    <div class="">
                        <p>
                            username: {{ com.complain.username }}
                        </p>
                    </div>

                    <div class="">
                        <p>
                            Nama Lengkap: {{ com.complain.first_name }} {{ com.complain.last_name }}
                        </p>
                    </div>

                    <div class="">
                        <p>
                            {{ com.complain.user.get_nik }}
                        </p>
                    </div>
                </div>
                <hr>

                <a class="btn btn-outline-success mt-2" href="#">Whatsapp</a>

                <!-- Button trigger modal -->
                {% if com.is_open or com.job.all is not None %}
                <button type="button" class="btn btn-primary mt-2" data-toggle="modal"
                        data-target="#exampleModal" disabled>Open As Job
                </button>
                {% else %}
                <button type="button" class="btn btn-primary mt-2" data-toggle="modal"
                        data-target="#exampleModal">Open As Job
                </button>
                {% endif %}
            </div>
        </div>
        <!-- End Card 2 -->

        {% if com.job_report.all %}
        <!-- Card Ground Proof -->
        <div class="card mt-4">
            <div class="card-header bg-transparent">
                <h3 class="card-title">Bukti Lapangan</h3>
            </div>
            <div class="card-body text-body">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Lihat Bukti Lapangan
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body" style="max-height: 40em; overflow-y: scroll">
                                {% for report in com.job_report.all %}
                                <div class="proof">
                                    <img src="{{ report.file.url }}" alt="bukti ke {{ forloop.counter }}"
                                         class="img-fluid h-25 w-25">
                                    <div class="card-text mt-4">
                                        {{ report.case | safe }}
                                    </div>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card mt-4">
            <div class="card-body">
                <h3 class="card-title text-dark">Belum Ada Bukti Lapangan</h3>
            </div>
        </div>
        {% endif %}

        <!-- Card 3 -->
        <div class="card mt-4">
            <div class="card-header text-dark bg-transparent">
                <h3 class="card-title">Teknisi Yang Akan Datang</h3>
            </div>
            <div class="card-body text-dark">

                {% for item in com.job.all %}

                <div class="pt-2 mb-2">
                    <div class="">
                        <p>Admin3</p>
                    </div>

                    <div class="">
                        <p>{{ item.user.user.wa_number }}</p>
                    </div>

                    <div class="">
                        <p>{{ item.user.first_name }} {{ item.user.last_name }}</p>
                    </div>

                    <div class="">
                        <p>{{ item.user.email }}</p>
                    </div>
                </div>
                <hr>

                <a class="btn btn-outline-success mt-2" target="_blank" href="https://wa.me/62{{ item.user.user.wa_number }}">Whatsapp</a>
                {% endfor %}


            </div>
        </div>
        <!-- End Card -->
    </div>
</div>
{% endblock %}